node_modules
dist
.env.local
.umirc.local.ts
config/config.local.ts
.umi
.umi-production
.turbo
# visual studio code
.history
*.log
functions/*
.temp/**

# misc
.DS_Store
npm-debug.log*
yarn-error.log


# screenshot
screenshot
.firebase
.eslintcache

/logs
*.db
.mfsu-dev/*
.mfsu-prod/*
release/