@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.select-all {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #fefefe;
  border: #fefefe;
}

.filename {
  display: flex;
  justify-content: left;
}

.netdisk-box {
  display: flex;
  flex-direction: column;
  height: 100%;

  .crumb {
    color: #b2b2b2;
    font-size: 12px;
    background-color: #f0f2f5;
    padding: 4px 12px;

    .peace {
      padding: 4px;
      cursor: pointer;
      font-size: 12px;
    }
  }

  .netdisk-layout {
    display: flex;
    flex: auto;
    flex-direction: row;

    .netdisk-sider {
      width: 140px;
      border-right: 1px solid #f0f0f0;
      padding-top: 8px;

      .ant-menu-vertical {
        border-right: none;
      }

      .ant-menu-item {
        border-right: none;
        margin: 0;
      }

    }

    .netdisk-main {
      flex: 1 0;
      padding: 12px;
    }

    .netdisk-transmission {
      padding: 8px 8px 24px 16px;
      cursor: pointer;
    }
  }
}

.react-contexify__separator {
  background-color: #f0f0f0;
}

.netdisk-ctx-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}